/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/04/2015, 22:39:07
    Author     : rodolfo
*/

@import "variables.scss";

#contact
{
    form
    {
        /* Webkit */
        ::-webkit-input-placeholder { color: $black; }

        /* Firefox 4-18 */
        :-moz-placeholder { color: $black; }

        /* Firefox 19+ */
        ::-moz-placeholder { color: $black; }

        /* IE10+ */
        :-ms-input-placeholder { color: $black; }

        input,textarea
        {
            display: block;
            width: 40%;
            height: 40px;
            color: $black;
            font-size: 14px;
            padding: 5px 10px 5px 10px;
            margin: 0 auto;
            border: 1px solid $black;
            margin-bottom: 10px;
            resize: none;
            -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
        }
        textarea
        {
            height: 150px;
            padding-top: 12px
        }
        input[type="submit"]
        {
            width: 20%;
            margin-top: 50px;
            background-color: white;
            text-transform: uppercase;
            letter-spacing: 3px;
            cursor: pointer;

            &:hover
                {
                color: white;
                background-color: $black;
            }
        }
    }
}