/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 5, 2015, 12:11:22 AM
    Author     : Rodolfo
*/

@import "variables.scss";

@media screen and (max-width: 640px)
{
    body
    {
        p
        {
            font-size: 14px;
        }
        
        h3
        {
            font-size: 26px;
        }
    }

    section
    {
        padding-top: 5px;
        padding-bottom: 30px;
        
        h3
        {
            margin: 0;
            line-height: 100px;
        }
        
    }

    .content
    {
        width: 100%;
    }

    #header
    {
        #header-banner
        {
            font-size: 35px;
            margin-top: 57px;
            padding-top: 15px;
            padding-bottom: 25px;
            
            h1
            {
                font-size: 35px;
                line-height: 45px;
            }
            
            h2
            {
                  font-size: 18px;
            }
            
            #header-banner-image
            {
                height: 50px;
                background-size: 90px;
            }
        }

        #header-nav
        {
            height: 55px;
            padding: 0px;

            #header-nav-desktop
            {
                display: none;
            }

            #header-logo
            {
                display: block;
            }

            #header-nav-mobile
            {
                width: 100%;
                height: 100%;
                display: block;
                position: relative;
                cursor: pointer;

                #header-nav-mobile-button
                {
                    width: 100%;
                    height: 100%;
                    background-image: url('../images/menu-mobile.png');
                    background-size: 40px 40px;
                    background-color: $black;
                    position: relative;
                    z-index: 999;
                }

                #header-nav-mobile-drop
                {
                    width: 100%;
                    height: 310px;
                    background-color: blue;
                    position: absolute;    
                    top: -500px;
                    z-index: 1;
                    -webkit-transition: all 1.5s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                    transition: all 1.5s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */

                    &.active
                    {
                        display: block;
                        top: 56px;
                        -webkit-transition: all 1.5s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                        transition: all 1.5s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
                    }

                    li
                    {
                        display: block;
                        width: 100%;
                        height: 25%;
                        margin: 0;
                        padding: 0;
                        border-top: 1px solid white;
                        border-bottom: 1px solid white;
                        background-color: $black;
                        cursor: pointer;

                        p
                        {
                            line-height: 100%;
                            line-height: 75px;
                        }
                    }
                }
            }
        }
    }

    #website
    {
        #website-content
        {
            ul
            {
                li
                {
                    width: 80%;
                    margin: 0;
                    margin-bottom: 30px;
                }
            }
        }
    }
    #website-plus
    {
        &.full-site
        {
            ul
            {
                li
                {
                    width: 80%;
                    margin: 0 auto;

                    .icon
                    {
                        background-size: 60px 60px;
                    }

                    p
                    {
                        font-size: 12px;
                    }

                    &:first-child
                        {
                        margin-bottom: 40px;
                    }
                }
            }
        }
    }

    #design
    {
        #design-content
        {
            ul
            {
                height: auto;

                li
                {
                    width: 80%;
                    margin: 0 auto;
                    margin-bottom: 20px;

                    .icon
                    {
                        width: 100%;
                        height: 100px;
                        background-size: 80px 80px;
                    }
                }
            }
        }
    }

    #support
    {
        #support-content
        {
            ul
            {
                li
                {
                    width: 85%;
                    margin: 0 auto;
                    height: auto;
                    margin-bottom: 35px;

                    &:last-child
                        {
                        height: 185px;
                    }

                    .text
                    {
                        width: 70%;
                        height: autopx;
                        background-color: white;
                        padding: 15px 5% 15px 5%;
                        float: left;
                        text-align: left;
                        display: table;
                    }

                    .icon
                    {
                        height: 100px;
                        background-size: 40px 40px;
                    }
                }
            }
        }
    }

    #contact
    {
        form
        {
            &#contact-styl
            {
                input
                {
                    width: 80%;
                }

                textarea
                {
                    width: 80%;
                }
            }
        }
    }
}