/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/02/2015, 22:46:15
    Author     : Rodolfo
*/


@import 'variables';

ul,li,h1,h2,h3,h4,p,figure,button,div,section,body
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center center;
}

section
{
    padding-top: 50px;
    padding-bottom: 150px;
}

li
{
    list-style-type: none;
}

a
{
    color: white;
    text-decoration: none;
}

h1
{
    text-transform: uppercase;
    font-size: 28px;
    line-height: 90px;
    text-align: center;
    letter-spacing: 2px;
}

h2
{
    text-align: center;
    text-transform: uppercase;
}

h3
{
    font-size: 28px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

h5
{
    font-size: 26px;

    span
    {
        text-transform: uppercase;
    }
}

.blue
{
    color: $blue;
}

.red
{
    color: $red;
}

.yellow
{
    color: $yellow;
}

.green
{
    color: $green;
}

.bg-green
{
    background-color: $green;
}

.bg-black
{
    background-color: $black;
}

.bg-light-gray
{
    background-color: $lightGray;
}


.bg-green
{
    background-color: $green;
}

.bg-white
{
    background-color: white;
}

.bg-blue
{
    background-color: $blue;
}

.bg-yellow
{
    background-color: $yellow;
}

.bg-red
{
    background-color: $red;
}


.clear
{
    clear: both;
}

.content
{
    width: $siteWidth;
    margin: 0 auto;
}

.full-site
{
    width: 100%;
    background-position: center center;
}

.align-right
{
    text-align: right!important;
}

button
{
    display: block;
    width: 122px;
    height: 41px;
    background-image: url('../images/button.png');
    background-size: 100% 100%;
    background-color: transparent;
    border: 0;
    color: white;
    text-transform: uppercase;
    margin: 0 auto;
}


body
{
    background-color: $altColor;
    font-family: $mainFont;
    color: black;
    position: relative;
    text-align: center;
}

#header
{
    background-color: $black; 
    
    &.color
    {
        background-color: $red;
    }

    #header-nav
    {   
        width: 100%;
        height: auto;
        font-family: $altFont;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 15px;
        padding-top: 15px;
        border-bottom: 1px solid $lightBrown;
        position: fixed;
        top: 0px;
        background-color: $black;
        
        &.color
        {
            background-color: #152168;
            -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                    transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
        }
        
        
    #header-nav-mobile
    {
        display: none;
    }

        ul
        {
            width: 100%;
            height: auto;
            text-align: center;

            li
            {
                display: inline-block;
                font-size: 28px;
                padding: 0px 35px 0px 35px;
                cursor: pointer;
                background-size: 100% 100%;
                vertical-align: top;
                padding-top: 15px;
                font-size: 14px;
                color: $gray;
                
                &#header-design
                {
                    &:hover
                        {
                        color: $red;
                    }
                    
                    &.active
                    {
                        background-color: $red;
                    }
                }
                
                &#header-support
                {
                    &:hover
                        {
                        color: $green;
                    }
                    
                    &.active
                    {
                        background-color: $green;
                    }
                }
                
                &.active
                {
                    background-color: $blue;
                    color: white;
                    
                    &:hover
                        {
                            color: white!important;
                    }
                }
                
                &#header-contact
                  {
                    &:hover
                        {
                        color: $gray;
                    }
                    
                    &.active
                    {
                        background-color: $gray;
                    }
                }
                
                &:hover
                {
                    color: $blue;
                }


                &#header-logo
                {
                    width: 90px;
                    height: 42px;
                    background-image: url(../images/logo-bw.png);
                    padding: 0px;
                    margin-left: 25px;
                    margin-right: 25px;
                        
                    &.color
                    {
                        background-image: url(../images/logo-color.png);
                    }
                        
                }

                &.header-itens
                {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                    transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
                }
            }
        }
    }
    #header-banner
    {
        height: auto;
        background-color: $blackBg;
        color: white;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 70px;
        -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
        transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
        
        &.color
        {
            background-color: $bgBlue;
        }
        

        #header-banner-image
        {
            width: 182px;
            height: 85px;
            margin: 0 auto;
            background-image: url('../images/logo-bw.png');
            background-size: 182px;
            height: 85px;
            
            &.color
            {
                background-image: url('../images/logo-color.png');
                -webkit-transition: all 1.0s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                    transition: all 1.0s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
            }
        }

        h1
        {
            font-size: 46px;
        }

        h2
        {
            letter-spacing: 4px;
        }
    }
}

#footer
{
    width: 100%;
    height: 50px;
    text-align: center;

    &.absolute
    {
        position: absolute;
        bottom: 0px;
    }


    h5
    {
        color: $gray;
        margin: 0;
        font-size: 20px;
        line-height: 50px; 
    }
}