/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/04/2015, 22:39:07
    Author     : rodolfo
*/

@import "variables.scss";

#support
{
    ul
    {
        width: 100%;
        height: auto;

        li
        {
            width: 100%;
            height: 150px;
            margin-top: 20px;

            &#support-partners
            {
                .icon
                {
                    float: right;
                }
            }

            &:first-child
                {
                margin-top: 0px;
            }

            .icon
            {
                width: 20%;
                height: 100%;
                float:left;
                background-size: 80px 80px;
                background-color: $green;

                &.graphic
                {
                    background-image: url('../images/icon-graphic.png');
                }

                &.hands
                {
                    background-image: url('../images/icon-hands.png');
                }

                &.paper
                {
                    background-image: url('../images/icon-paper.png');
                }
            }

            .text
            {
                width: 75%;
                height: 120px;
                background-color: white;
                padding: 15px 2% 15px 3%;
                float:left;
                text-align: left;
                display: table;

                p
                {
                    display: table-cell;
                    vertical-align: middle;    
                }
            }
        }
    }
}