/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/09/2014, 16:40:06
    Author     : Rodolfo
*/

$siteWidth: 960px;
$mainColor: black;
$altColor: white;
$colorLogo : #fcfcf4;
$siteBg : #0b0b0d;
$mainFont: 'Roboto Slab', serif;
$altFont: 'Roboto', serif;


$bgBlue: #1A2985;
$gray: #cdcccc;
$lightGray: #f5f3ee;
$black: #1b1a18;

$blackBg : #222222;

$red: #d74e43;
$green: #9fe0a0;
$blue: #70b9bf;
$yellow: #f6da78;
$purple: #3a2946;
$brown: #C9A050;
$lightBrown: #f5f3ee;
