/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/04/2015, 22:39:07
    Author     : rodolfo
*/

@import "variables.scss";

#website
{
    ul
    {
        li
        {
            width: 30%;
            display: inline-block;
            vertical-align: top;
            height: auto;
            background-color: white;
            margin-left: 5px;
            margin-right: 5px;
            background-color: $lightBrown;

            p
            {
                font-size: 14px;
                width: 85%;
                margin: auto;
                padding-top: 20px;
                padding-bottom: 20px;
                text-align: left;
            }

            .icon
            {
                width: 100%;
                height: 130px;
                background-size: 100px 100px;
                background-color: $blue;

                &.icon-monitor
                {
                    background-image: url('../images/icon-monitor.png');
                }

                &.icon-ecommerce
                {
                    background-image: url('../images/icon-ecommerce.png');
                }

                &.icon-email
                {
                    background-image: url('../images/icon-email.png');
                }
            }
        }
    }
}
#website-plus
{
    height: 500px;

    ul
    {
        height: 400px;
        margin-top: 100px;


        li
        {
            width: 100%;
            height: 160px;
            margin-bottom: 20px;

            .icon
            {
                width: 30%;
                height: 100%;
                float: left;
                background-image: url('../images/icon-update.png');
                background-size: 100px 100px;
                background-color: $blue;

                &.search
                {
                    background-image: url('../images/icon-search.png');
                }
            }

            .text
            {
                width: 60%;
                height: 120px;
                padding-left: 3%;
                padding-right: 3%;
                padding-top: 20px;
                padding-bottom: 20px;
                float: left;
                display: table;
                background-color: white;
                
                p
                {
                    display: table-cell;
                   vertical-align: middle;    
                }
            }
        }
    }
}